:root{
    --hero: rgba(242, 250, 249, 0.733);
    --primary-heading-size: 100px;
    --primary-para-size: 20px;
    --btn-font-size: 25px;
    --body-color:rgba(231, 230, 230, 0.404);
    --secondary-clr:red;

}
body{
    font-family: "Nunito",sans-serif;
    background-color: var(--body-color);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Hero-container::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-image: url(images/pexels-vlado-paunovic-3034343.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;
    filter: brightness(40%);
    z-index: -1;
}
.header-section i{
    margin-right: 5px;
}
.Hero-container ,a ,i{
    color: var(--hero);
}
.social-media-icons>i{
    padding-right: 7px;
}
.header-section{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.Hero-sub-container{
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
    color: var(--hero);
    text-align: center;
    line-height: 70px;
}
h1{
    font-size: var(--primary-heading-size);
}
p{
    font-size: var(--primary-para-size);
    font-family: "Roboto";
}
.navbar ul{
    display: flex;
    list-style: none;
    height: 7vh;
    justify-content: center;
    align-items: center;  
}
.navbar ul li{
    padding-left: 50px;
}
.navbar ul li:first-child{
    color: var(--secondary-clr);
}
.navbar ul li:hover{
    cursor: pointer;
    color: var(--secondary-clr);
    transition: ease-in 1s;
}
.detail-container{
    display: flex;
    height: 70vh;
    /* background-color: aqua; */
}
.detail-container-left{
    flex: 1;
    /* background-color: bisque; */
    line-height: 25px;
    padding: 40px 10px 0px 35px;
}
.detail-container-left div h1{
    font-size: 35px;
}
.detail-container-left>div>p{
    font-size: 16px;
    color: var(--secondary-clr);
}
.detail-container-right{
    flex: 1;
    /* background-color: black; */
}
.para{
    padding-top: 25px;
}
.points h3{
    color: var(--secondary-clr);
}
.points{
    padding-top: 25px;
}